.containerMain{
    margin-top: 60px; 
    justify-content: center;
    align-items: center;
}
.botao{
    margin-top: 40px;
    margin-left: 350px;
    align-self: center;
    width: 200px;
    height: 40px;
}
.link-new{
    margin-left: 370px;
    color: rgb(255, 255, 255);
    font: 14px arial;
    font-weight: bold;
}

.title{
    margin-left: 330px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    
}

.box-cadastro{
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    margin-left: 110px;
    opacity: initial;
    background-color: rgb(95, 95, 95);
}